@import "tailwindcss";

@theme {
    --animate-slide: slide 1s ease-in-out 1;

    @keyframes slide {
        0% {
            transform: translateX(144.5%);
        }
        100% {
            transform: translateX(0);
        }
    }

    --animate-fade: fade 2s ease-in-out 1;

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    --animate-fade-quick: fade 0.25s ease-in-out 1;
}